<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Group</title>
</head>
<body>
    <div class="container">
        <h1>Insert Group</h1>
        <form action="/insertGroup" method="post">
            <label for="Group_name">Group Name:</label>
            <input type="text" id="Group_name" name="Group_name" required><br>
            <label for="group_address">Group Address</label>
            <input type="email" id="group_address" name="group_address" required><br>
            <input type="submit" value="Insert Group">
        </form>
    </div>
</body>
</html>